@font-face {
    font-family: "MuseoSansCyrl300";
    src: url("assets/fonts/MUSEOSANSCYRL_1.OTF") format("opentype");
    font-style: normal;
    font-weight: 300;
}
@font-face {
    font-family: "MuseoSansCyrl500";
    src: url("assets/fonts/MUSEOSANSCYRL_2.OTF") format("opentype");
    font-style: normal;
    font-weight: 500;
}
@font-face {
    font-family: "MuseoSansCyrl700";
    src: url("assets/fonts/MUSEOSANSCYRL_3.OTF") format("opentype");
    font-style: normal;
    font-weight: 700;
}
